[Unit]
Description=Xfce Desktop

[Service]
Type=simple
Environment=DISPLAY=10.0.2.2:127
Environment=XAUTHORITY=/X/Xauthority.client
ExecStart=/usr/local/bin/startx
Restart=on-failure

[Install]
WantedBy=default.target
