#!/usr/bin/zsh

# Android & Flutter
export ANDROID_ROOT=$HOME/.android
export ANDROID_SDK=$ANDROID_ROOT/sdk
export FLUTTER_HOME=$ANDROID_ROOT/flutter
export PATH=$PATH:$FLUTTER_HOME/bin
export PATH=$PATH:$HOME/.android/flutter/.pub-cache/bin

# Common
export PATH=$HOME/.local/bin:$PATH

# Google Chrome
export CHROME_EXECUTABLE=/usr/bin/google-chrome-stable

# Java
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk

# Node.js
export npm_config_prefix=$HOME/.local
## NPM
export PATH=$PATH:$HOME/node_modules/.bin

# Rust
export PATH=$PATH:$HOME/.cargo/bin

# SSH
source $HOME/.ssh-aliases

# ZOOM
source $HOME/.zoom-aliases
