[Unit]
Description=Xfce Desktop

[Service]
Type=simple
Environment=DISPLAY=
Environment=XAUTHORITY=
ExecStart=/usr/bin/startxfce4
Restart=on-failure

[Install]
WantedBy=default.target
