[Unit]
Description=Xfce Desktop

[Service]
Type=simple
Environment=DISPLAY=
Environment=XAUTHORITY=
ExecStart=/usr/local/bin/startx
Restart=on-failure

[Install]
WantedBy=default.target
