[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=NetAI Settings
Comment=Automatic Configuration of Containerized Desktop Environment
Exec=/usr/local/bin/on-startup
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
